.App {
  background-color: #f5f8fa;
  min-height: 100vh;
}

.App-header {
  text-align: center;
  padding: 28px;
  font-size: calc(10px + 0.9vmin);
}
.search-field {
  width: 700px;
}
.brand {
  font-weight: bold;
}
.cardModifier {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
